@import "tailwindcss";

*{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

:root{
    --logobluecolur1:#1f67b7;
    --btnbg:#CDECFF;
    --btntext:#0474BA;
    --colour-yellow:#FF9107;


      --colour-bg1:#1f67b7;
    --colour-bg2:#035B91;
    --colour-bg3:#0F6600;
    --colour-bg4:#f1f7ff;
    --colour-bg5:#FF9107;
    --colour-border1:#FF9107;
    --colour-border2:#0474BA;
    --colour-border3:#999999;
    --colour-btn1:#0474BA;
    --colour-btn2:#FF9107;
    --colour-text1:#0474BA;
    --colour-text2:#333333;
    --colour-text3:#595959;
    --colour-text4:#CDECFF;
    --colour-yellow1:#FF9107;
}

@theme{
    --colour-bg1:#1f67b7;
    --colour-bg2:#035B91;
    --colour-bg3:#0F6600;
    --colour-bg4:#f1f7ff;
    --colour-bg5:#FF9107;
    --colour-border1:#FF9107;
    --colour-border2:#0474BA;
    --colour-border3:#999999;
    --colour-btn1:#0474BA;
    --colour-btn2:#FF9107;
    --colour-text1:#0474BA;
    --colour-text2:#333333;
    --colour-text3:#595959;
    --colour-text4:#CDECFF;
    --colour-yellow1:#FF9107;

    --colour-fsP1:#ff6a00;
    --colour-fsP2:#1967b3;

    --colour-fsS2:rgb(79 99 235);

    --font-dm-sans: "DM Sans", "DM Sans Fallback";
    --font-poppins: "Poppins", "Poppins Fallback";
    --font-family-price:Georgia, 'Times New Roman', Times, serif;
    --font-family-all: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-faily-blogcontent: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}



@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}